@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --font-default: 'Cormorant Garamond', serif;
    --font-monospace: 'Fira Code', monospace;
    --dark-bg: #302E2E;
    --light: #EFEFEF;
    --dark-text: #010101;
    --almost-black: #1C1C1C;
    --light-gray: #C5C0C0;
    --dark-gray: #747070;
    
    
    --wheat: #F4F1DE;
    --barley: #E8B056;
    --pastel: #FF9B54;
    --tomato: #BF4342;
    --chipotle: #F48C06;
    --cherries: #DC2F02;
    --beetroot: #370617;
    --leather: #85644E;
    --mud: #9C856B;
    
}


/*typography*/

.hero_text{
    font-weight: 700;
    font-size: 32px;
    opacity: 0.9;
}

.title_text{
    font-weight: 700;
    font-size: 26px;
    opacity: 0.9;
}

.subtitle_text{ 
    font-weight: 700;
    font-size: 20px;
    opacity: 0.8;
}

.caption_text{ 
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
}
.body_text{
    font-weight: 500;
    font-size: 16px;
    opacity: 0.7;
}

.muted_text{
    font-weight: 500;
    font-size: 13px;
    opacity: 0.5;
}

/*components*/

.btn{
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    font-size: 18px;
    height: 42px;
    background-color: var(--dark-gray);
    color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 4px;
}

.btn-large{
    font-size: 20px;
    font-weight: 700;
}

.btn:hover{
    background-color: var(--pastel);
    color: rgba(0,0,0,0.8);
}

.btn-accent{
    background-color: var(--barley);
    color: rgba(0,0,0,0.8);
}

.btn-accent:hover{
    background-color: var(--wheat);
}

.btn-unavailable{
    background-color: var(--light-gray);
    color: rgba(0,0,0,0.5);
}

/* HTML Page Setup */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: var(--font-default);
    background: var(--dark-bg);
    color: var(--light);
}

/* Core Components */

.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 96px;
    background-color: var(--dark-bg);
    z-index: 3; /* makes sure that navbar is on top of other elements */
}

.navlinks{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navlinks li a{
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
}

.navlinks li a:hover{
    color: var(--barley);
}

.nav .logo{
    margin-left: 4%;
}

.container{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
}

#hero{
    background-image: url(../assets/hero_hd_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 200px rgba(0,0,0,0.8) inset;
    justify-content: center;
}

#hero > div, #hero img{
    margin: 0 4%;
}

.row-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-flex div{
    margin-right: 8px;
}

#famous-dishes{
    align-items: center;
    justify-content: center;
}

#about{
    align-items: center;
    justify-content: center;
}
/* ADDED BY KAMRAN */
/*  MAIN PAGE */
#try-meals{
    align-items: center;
    justify-content: center;
}

#amore-title-text{
 margin-left: 730px; 
/*margin: auto;*/
}

#amore-subtitle-text{
margin-left: 730px; 	
/*margin: auto;*/	
}

#diy-kits{
    align-items: center;
    justify-content: center;
}
/* ADDED BY KAMRAN */
/*  MENU PAGE */
.menu-items{
	margin-bottom: 200px;
}

#menu-items{
	margin-bottom: 200px;
}

.grid{
    display: grid;
    place-content: center;
}

.grid-2{
    grid-template-columns: 50% 50%;
}

.grid-3{
    grid-template-columns: 40% 10% 40%;
}
/* ADDED BY KAMRAN */
/*  MAIN PAGE */
.grid-4{
    grid-template-columns: 25% 25% 25% 25%;
}
/*  MENU PAGE */
.grid-5{
    grid-template-columns: 60% 40%;
}

.grid-3-auto{
    grid-template-columns: 33.33% 33.34% 33.33%;
}

.card{
    display: grid;
    grid-template-columns: 40% 60%;
    background: var(--almost-black);
    border-radius: 8px;
    margin: 24px;
}

.card-image{
    margin: 0;
    height: 180px;
}

.card-content{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: var(--almost-black);
    margin: 0;
    padding: 10px;
}

.card-content .btn{
    position: relative;
    margin-top: auto; /*places the button at the bottom of the container*/
    width: fit-content;
}

.small-card{
    display: grid;
    grid-template-columns: 100%;
    background: var(--almost-black);
    border-radius: 8px;
    margin: 24px;
}

.small-card-image{
    margin: 0;
    height: 180px;
}

.small-card-content{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: var(--almost-black);
    margin: 0;
    padding: 10px;
}

.small-card-content .btn{
    position: relative;
    margin-top: auto; /*places the button at the bottom of the container*/
    width: fit-content;
}

.line{
    background-color: var(--dark-gray);
    height: 1px;
    width: 40%;
	margin: auto;
}
/* ADDED BY KAMRAN */
/*  MAIN PAGE */
.line-2{
    background-color: var(--dark-gray);
    height: 1px;
    width: 15%;
	margin: auto;
}

#famous-dishes > .grid > .btn{
    width: fit-content;
    margin: auto;
}

/* FOOTER */

.footer-logo {
	float:left;
	margin:0 0.5em;
	height:auto; /* auto-calculate height based on width */
	margin-left:10em;
}

#footer {
	color: var(--light);
	font-size:1em;
	padding:1em 0;
    background-color: var(--almost-black);
}

#footer-menu {
	margin-left:25em; 
    text-transform:capitalize;
    padding:1.3em 0; 
}

#footer-menu article div a{
    margin: 0;
}
/* ADDED BY KAMRAN */
/*  MAIN PAGE */
.flex-container {
	display:flex;
    flex-flow:row wrap;
    gap:1em;
}
/*  MAIN PAGE */
.adjust-line-height-copyright {
	text-align:center;
    line-height:5em;
}

/* LINK STYLE */

#footer a {
	text-decoration: none;
    color: inherit;
    margin: 0 10px;
}

#footer a:hover {
	color: var(--barley);
    text-decoration: none;
}

/* ADDED BY YASH */
/* ABOUT US PAGE */

#default-container{
    justify-content: center;
    padding: 0 10%;
}

.hr{
    background-color: var(--light);
    height: 1px;
    width: 40%;
    margin: 20px 0;
    opacity: 0.5;
}

.lorem{
    width: 40%;
}

.active{
    color: var(--chipotle);
}

.hero_image{
    margin: 10 0;
    height: 40%;
}

.centered div{
    width: fit-content;
    margin: 80px auto;
}

.list{
    list-style-type: none;
    padding: 0;
}

.list li{
    margin: 10px none;
}

.contest-card{
    border-radius: 8px;
    background-color: var(--light-gray);
    color: var(--dark-text);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 8px 24px;
}

#featured{
    align-items: center;
    justify-content: center;
}

/* NEXT PAGE... */

/* DINE-IN */

.image-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    width: fit-content;
}

.image-grid-wrapper{
    width: 80%;
    margin: auto;
}

.image-grid img{
    width: 100%;
    margin: 1px;
}

#dine-in{
    padding: 10%;
    box-sizing: border-box;
}

.container-dynamic{
    height: auto;
}

.flexbox{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.map-window iframe{
    height: 286px;
    border-radius: 8px;
}

input{
    font-family: var(--font-monospace);
    background-color: var(--light-gray);
    margin: 18px 0;
    font-size: 18px;
    height: 50px;
    width: 400px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
}

.number-input{
    width:20%;
    margin: 0 10px;
}

.form-warning{
    width: 500px;
}

.image-grid-wrapper .instagram-btn{
    position: relative;
    bottom: 50px;
    margin-left: auto;
    margin-right: 0;
    right: 5px;
    width: 30%;
    background-color: var(--light-gray);
    color: var(--dark-text);
}

.image-grid-wrapper .instagram-btn:hover{
    background-color: var(--barley);
}

.instagram-btn span{
    margin: 0 10px;
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 1000px){
    .grid-3-auto{
        grid-template-columns: 100%;
    }

    .grid-2{
        grid-template-columns: 100%;
    }

    .image-grid{
        grid-template-columns: 100%;
    }

    .map-window iframe{
        width: 100%;
    }
}
